.header {
  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 768px) {

  .header {
    &__logo {
      margin-top: 90px;
      margin-bottom: 160px;
    }
  }
  
}

@media screen and (max-width: 460px) {

  .header {
    &__logo {
      margin-top: 80px;
      margin-bottom: 65px;

      & img {
        width: 130px;
        height: 40px;
      }
    }
  }
  
  

}