.title {

  &__wrapper {
    margin-bottom: 32px;
  }

  &__h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
    text-align: center;
    margin-bottom: 8px;
  }

  &__descr {
    margin: 0 auto;
    max-width: 435px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
}