<footer class="footer">
  <div class="container">

    <div class="form__wrapper">
      <form id="ajax_form" class="form">
        <label class="form__label">
          <input class="input input-mail" type="email" data-validate-field="email" name="Email"
            placeholder="Enter your Email and get notified">
        </label>
      </form>

      <button class="form__button" id="btn">
        <div class="form__arrow">
          <img src="img/arrow.svg" alt="Указатель">
        </div>
      </button>
    </div>

  </div>
</footer>
