<div class="container">

  <div class="time__wrapper">

		<div class="time-count__content">
			<div class="time-count__item time-count__days">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-1">Days</span>
			</div>

			<div class="time-count__separator">:</div>
			<div class="time-count__item time-count__hours">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-2">Hours</span>
			</div>

			<div class="time-count__separator">:</div>
			<div class="time-count__item time-count__minutes">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-3">Minutes</span>
			</div>

			<div class="time-count__separator">:</div>
			<div class="time-count__item time-count__seconds">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-4">Seconds</span>
			</div>
		</div>

	</div>

</div>