<div class="container">

  <div class="time__wrapper">

		<div class="time-count__content">
			<div class="time-count__item time-count__days">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-1 name-big">Days</span>
				<span class="time-count__text time-count__text-1 name-small">DD</span>
			</div>

			<div class="time-count__separator">:</div>
			<div class="time-count__item time-count__hours">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-2 name-big">Hours</span>
				<span class="time-count__text time-count__text-2 name-small">HH</span>
			</div>

			<div class="time-count__separator">:</div>
			<div class="time-count__item time-count__minutes">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-3 name-big">Minutes</span>
				<span class="time-count__text time-count__text-3 name-small">MM</span>
			</div>

			<div class="time-count__separator">:</div>
			<div class="time-count__item time-count__seconds">
				<div class="time-count__val">00</div>
				<span class="time-count__text time-count__text-4 name-big">Seconds</span>
				<span class="time-count__text time-count__text-4 name-small">SS</span>
			</div>
		</div>

	</div>

</div>